body{
  background-color: #1a507b;
}
.b-universe{
  background-image: url(img/galaxy.jpg);
  margin: 0 auto;
  width: 800px;
  height: 500px;
  background-size: cover;
  position: relative;
}

.b-universe__img{
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform .5s ease-in-out;
}