body{
  background-color: #e9b000;
  color: #fff;
}

.b-tasks{
  background-color: #9b2837;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 0 5px #000;
}

 .l-tasks__item:nth-child(2){
  margin: 20px 0;
  border-top: dashed 2px #fff;
  border-bottom: dashed 2px #fff;
  padding: 20px 0;
  font-style: italic;
}

.l-tasks__btn{
  border: solid 1px #fff;
  border-radius: 2px;
  padding: 10px;
  font-weight: 600;
  color: #524f4e;
  background: #fff;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: all .3s;
}

.l-tasks__btn:hover{
  background: rgb(46, 95, 229);
  box-shadow: 0 15px 25px rgba(229, 253, 89, 0.5);
  color: #fff;
  transform: translateY(-7px);
}

.l-tasks__btn._remove{
  margin-top: 10px;
}

._color-scheme-light{
  background-color: #f9f9f9;
  color: #000;
}

._color-scheme-light .b-tasks{
  background-color: #d3af57;
}

._color-scheme-light .l-tasks__item:nth-child(2){
  border-top: dashed 2px #898989;
  border-bottom: dashed 2px #898989;
}

._color-scheme-light .l-tasks__btn{
  background: #fff;
  color: #000;
  box-shadow: 0 15px 25px rgba(229, 83, 46, .5);
}

._color-scheme-light .l-tasks__btn:hover{
  background: rgb(229, 46, 107);
  box-shadow: 0 15px 25px rgba(49, 46, 229, .5);
  color: #fff;
}