body {
	height: auto;
	padding: 50px;
	font-family: sans-serif;
	background: #1e4542;
}

.b-shooter{
	background-image: url(../img/cemetery-cartoon-background.jpg);
	background-size: cover;
	margin: 0 auto;
	width: 1000px;
	height: 650px;
	position: relative;
	overflow: hidden;
}

.b-shooter__aim{
	width: 90px;
	height: 90px;
	position: absolute;
	top: 0;
	left: 0;
	transition: transform .25s ease-in-out;
	transform: translate(15px, 50px);
	pointer-events: none;
	z-index: 5;
}

.b-shooter__img-aim{
	width: 100%;
	height: 100%;
}

.b-shooter__img-ghost{
	width: 120px;
	height: 120px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	pointer-events: none;
	transition: opacity;
	transition-timing-function: ease-in;
	animation: ghost-movements 2s infinite;
}

._lose .b-shooter__img-ghost {
	position: absolute;
	width: 120px;
	height: 120px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	animation: ghost-scale 7s .1s cubic-bezier(0, 0.53, 0.2, 0.96) forwards;
}

.b-shooter__img-fire{
	width: 90px;
	height: 150px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	transition: opacity;
	transition-timing-function: ease-in;
	visibility: hidden;
}

.b-shooter__progress{
	background-color: hsl(0, 0%, 0%, 50%);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	left: 5px;
	top: 50%;
	transform: translateY(-50%);
	padding: 15px 7px;
}

.b-shooter__progress-icon{
	height: 29px;
	width: 29px;
	margin: 10px 0;
	transition: opacity .2s ease-in, transform .2s ease-in
}

.b-shooter__progress-icon:first-child{
	margin-top: 0;
}

.b-shooter__progress-icon:last-child{
	margin-bottom: 0;
}

._score{
	opacity: 0.2;
	transform: rotate(180deg);
}

.b-shooter__health{
	position: absolute;
	right: 5px;
	bottom: 5px;
	background-color: hsl(0, 0%, 0%, 50%);
	border-radius: 30px;
	display: flex;
	justify-content: center;
	padding: 8px 17px;
}

.b-shooter__health-icon{
	width: 35px;
	height: 35px;
	margin: 0 10px;
	fill: #f44336;
	transition: tansform .2s ease-in, fill .2s ease-in;
}

.b-shooter__health-icon:first-child{
	margin-left: 0;
}

.b-shooter__health-icon:last-child{
	margin-right: 0;
}

._loss-bar{
	animation: blink 2s ease-in-out infinite;
}

._loss{
	transform: scale(.85);
	fill: rgba(90, 87, 98, 0.7);
}

.b-shooter__game-over{
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 250px;
	pointer-events: none;
	opacity: 0;
}

.b-shooter__game-over-title {
	font-size: 70px;
	text-transform: uppercase;
	letter-spacing: 7px;
}

.b-shooter__game-over-sub-title {
	font-size: 24px;
}

._win .b-shooter__game-over {
	opacity: .8;
	background-color: #fff;
	color: #000;
	pointer-events: auto;
	transition: opacity .3s ease-in-out;
}

._lose .b-shooter__game-over {
	opacity: .8;
	background-color: #000;
	color: #fff;
	pointer-events: auto;
	z-index: 10;
	transition: opacity .3s ease-in-out;
}

@keyframes ghost-movements {
  0% {
    transform: scale(1,1) translateY(0);
  }
  
  10% {
    transform: scale(1.1, .9) translateY(0);    
  }
  
  30%  {
   transform: scale(.9, 1.1) translateY(-50px);
  }
  
  50%  {
    transform: scale(1.05,.95) translateY(50px);
  }
    
  80%  {
    transform: scale(.9,1.1) translateY(-30px);
  }

  100%  {
    transform: scale(1) translateY(0);
  }
}

@keyframes blink{
	0%, 100% {
		opacity: 1;
	}

	10%, 30%, 50%, 70%, 90% {
		opacity: .7;
	}

	20%, 40%, 60%, 80% {
		opacity: .5;
	}
}

@keyframes ghost-scale {
	to {
		transform: scale(17);
	}
}